<div>
    <h2 translate="tmsApp.scheduledPayement.home.title">Scheduled Payements</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="scheduled-payement.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="tmsApp.scheduledPayement.home.createLabel">
                        Create new Scheduled Payement
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="date"><span translate="tmsApp.scheduledPayement.date">Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="amount"><span translate="tmsApp.scheduledPayement.amount">Amount</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="customer.name"><span translate="tmsApp.scheduledPayement.customer">Customer</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="scheduledPayement in vm.scheduledPayements track by scheduledPayement.id">
                    <td><a ui-sref="scheduled-payement-detail({id:scheduledPayement.id})">{{scheduledPayement.id}}</a></td>
                        <td>{{scheduledPayement.date | date:'mediumDate'}}</td>
                    <td>{{scheduledPayement.amount}}</td>
                    <td>
                        <a ui-sref="customer-detail({id:scheduledPayement.customer.id})">{{scheduledPayement.customer.name}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="scheduled-payement-detail({id:scheduledPayement.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="scheduled-payement.edit({id:scheduledPayement.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="scheduled-payement.delete({id:scheduledPayement.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
